<section id="home">
  <div id="main-carousel">
    <div class="carousel-inner">
      <div class="item active" style="background-image: url(<%= asset_path 'slide1.jpg' %>)">
        <div class="carousel-caption">
          <div>
            <h2 class="heading">Find your dream home today!</h2>
            <div class="form-group container">
              <input type="text" class="form-control input-lg" placeholder="Enter a city or zipcode">
            </div>
            <a class="btn btn-default slider-btn animated fadeIn" href="#">Search</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

